body {
	margin: 0px;
	background-color: #222;
	color: #ccc;
	font-size: 14pt;
}

img {
	border: 0px;
}

#logo {
	text-align: center;
	font-family: sans-serif;
	margin-top: 20px;
	margin-bottom: 50px;
}

#container {
	width: 100%;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
}

.block {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	text-align: right;
}

#btn-create {
	border: 1px solid #080;
	color: #ddd;
	background-color: #080;
	width: 100%;
	height: 60px;
	font: 20pt sans-serif;
}

#btn-create:hover {
	background-color: #0a0;
}

#btn-create:active {
	background-color: #a00
}

.solid {
	padding-left: 5px;
	border: 1px solid #ccc;
	background-color: #ddd;
	height: 30px;
	font: 16pt sans-serif;
	margin-top: 10px;
}

a {
	color: #ccc;
}

.error-msg {
	padding-top: 10px;
	background-color: #444;
	text-align: center;
	color: #c00;
	font: 16pt sans-serif;
	height: 30px;
}

.success-msg {
	padding-top: 10px;
	background-color: #444;
	text-align: center;
	color: #0c0;
	font: 16pt sans-serif;
	height: 30px;
}

h1 {
	color: #fff;
}

#message {
	height: 30px;
}

#footer {
	clear: both;
	position: relative;
	z-index: 10;
	height: 3em;
	margin-top: -3em;
	text-align: right;
	margin-right: 15px;
}

#pass b {
	font: 20pt sans-serif;
	color: #fff;
}
